* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Amatic SC", "cursive";
  font-size: 62.5%;
}

canvas {
  width: 80rem;
  height: 80rem;
}

header {
  background-image:
  linear-gradient(to right bottom, rgba(155, 89, 182,0.6), rgba(120, 75, 200,0.6)), url(img/bacteria.jpg);
  background-size: cover;
  background-position: center;
  height: 35vh;
  position: relative;
}

header nav {
  position: absolute;
  right: 10rem;
}

header a {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-decoration: none;
}

header li {
  display: inline-block;
  margin-left: 2.5rem;
  margin-top: 3rem;
}

header div {
  color: #fff;
  font-weight: 200;
  line-height: 1.7;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h1 {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.7rem;
  user-select: none;
}

header h2 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 1.7rem;
  user-select: none;
}

.section {
  margin-top: 5rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

h3::after {
  background-color: rgba(155, 89, 182,1.0);
  content: " ";
  display: block;
  height: 3px;
  margin: auto auto;
  margin-top: 2rem;
  width: 10rem;
}

.section-text {
  font-size: 1.8rem;
  text-align: center;
  line-height: 145%;
  margin-top: 2rem;
  margin-left: 15%;
  width: 70%;
}

/*  SECTION --- WHAT? */

.apps-container {
  background-color: #000;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  height: 20vh;
  margin-top: 3rem;
  /* text-align: center; */
}

.apps-container div {
  background-position: center;
  background-size: cover;
  flex: 1;
  position: relative;
  text-align: center;
}

.app-pic::before {
  background-position: center;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}

.app-pic p {
  color: #fff;
  font-size: 2.5rem;
  position: absolute;
  transition: top 0.15s, bottom 0.15s, visibility 0.05s;
  user-select: none;
  width: 100%;
}

.draw-app::before {
  background-image: url(img/london.jpg);
}

.find-app::before {
  background-image: url(img/san-francisco.jpg);
}

.simulate-app::before {
  background-image: url(img/lisbon-3.jpg);
}

.text-middle {
  letter-spacing: 1rem;
}

.text-top-visible {
  top: 35%;
  visibility: visible;
}

.text-top-invisible {
  top: -10%;
  visibility: hidden;
}

.text-middle-visible {
  top: 45%;
  visibility: visible;
}

.text-middle-invisible {
  top: 45%;
  visibility: hidden;
}

.text-bottom-visible {
  bottom: 35%;
  visibility: visible;
}

.text-bottom-invisible {
  bottom: -10%;
  visibility: hidden;
}

.section-menu {
  font-size: 2rem;
}

.btn-container {
  left: 50%;
  margin-top: 2rem;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
  width: 20%;
}

.btn-container a:link,
.btn-container a:visited {
  border: 2px solid rgba(155, 89, 182,1.0);
  border-radius: 1rem;
  color: rgba(155, 89, 182,1.0);
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-top: 3rem;
  letter-spacing: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-container a:hover {
  background-color: rgba(155, 89, 182,1.0);
  color: #fff;
}

.section-app,
.container-draw-app {
  font-size: 1.5rem;
  margin: 2rem 2rem;
  padding: 2rem 2rem;
}

.zone-draw-app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-graph {
  flex: 2;
}

.container-results {
  flex: 1;
}

.container-data {
  border: 1px solid black;
  flex: 1;
  height: 40rem;
  overflow-y: auto;
}
